.hg-icon {
  width: 1920px;
  height: 1513px;
  object-fit: cover;
}
.bg-hero,
.group-child,
.hg-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.bg-hero {
  background: linear-gradient(-29.76deg, rgba(11, 29, 38, 0), #0b1d26);
  width: 1920px;
  height: 1200px;
}
.group-child {
  background-color: var(--accent);
  width: 72px;
  height: 2px;
}
.content-inner {
  position: relative;
  width: 72px;
  height: 2px;
}
.big-tittle {
  position: relative;
  line-height: 100px;
  text-transform: capitalize;
  display: inline-block;
  width: 950px;
  height: 298px;
  flex-shrink: 0;
}
.equipment {
  position: absolute;
  top: 1px;
  left: 0;
}
.iconnavigationarrow-downward {
  position: absolute;
  top: 0;
  left: 110px;
  width: 16px;
  height: 24px;
}
.equipment-parent {
  position: relative;
  width: 126px;
  height: 24px;
  font-size: var(--font-size-lg);
}
.content {
  position: absolute;
  top: 184px;
  left: 528px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  font-size: 88px;
}
.mg-icon {
  top: 464px;
  height: 1422px;
  object-fit: cover;
}
.bg-content,
.mg-icon,
.vg-icon {
  position: absolute;
  left: 0;
  width: 1920px;
}
.vg-icon {
  top: 768px;
  height: 926px;
  object-fit: cover;
}
.bg-content {
  top: 1200px;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0), #0b1d26 72.28%);
  height: 700px;
}
.follow-us {
  position: absolute;
  top: 0;
  left: 24px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.instagram-icon {
  top: 101px;
  left: 0;
  height: 24px;
  overflow: hidden;
}
.instagram-icon,
.social,
.twitter-icon {
  position: absolute;
  width: 24px;
}
.twitter-icon {
  top: 149px;
  left: 0;
  height: 24px;
  overflow: hidden;
}
.social {
  top: 359px;
  left: 80px;
  height: 173px;
}
.slider-bg {
  left: 0;
  background-color: var(--wei);
  height: 240px;
  opacity: 0.5;
}
.slider-bg,
.slider-indicator,
.slider1 {
  position: absolute;
  top: 0;
  width: 3px;
}
.slider-indicator {
  left: 0;
  background-color: var(--wei);
  height: 60px;
}
.slider1 {
  left: 74px;
  height: 240px;
}
.start {
  position: relative;
}
.start-parent {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 40px;
}
.text {
  top: 16px;
  left: 0;
  width: 40px;
  height: 204px;
}
.blog,
.slider,
.text {
  position: absolute;
}
.slider {
  top: 326px;
  left: 1763px;
  box-shadow: var(--shadow);
  width: 77px;
  height: 240px;
  text-align: right;
}
.blog {
  top: 2px;
  left: 984px;
}
.about-us,
.account1,
.equipment1 {
  position: absolute;
  top: 2px;
  left: 869px;
}
.account1,
.equipment1 {
  left: 739px;
}
.account1 {
  left: 32px;
}
.account,
.icons-general-cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
.account {
  top: 1px;
  left: 1662px;
  width: 93px;
  font-size: 17px;
}
.l,
.p,
.r {
  position: absolute;
  top: -6px;
  left: 0;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.l,
.p {
  left: 32px;
}
.p {
  left: 58px;
}
.header,
.logo {
  position: absolute;
  overflow: hidden;
}
.logo {
  top: 0;
  left: 0;
  width: 108px;
  height: 24px;
  font-size: var(--font-size-13xl);
}
.header {
  top: 64px;
  left: 80px;
  width: 1760px;
  height: 25px;
}
.equipment2 {
  position: absolute;
  top: 5.28%;
  left: 0;
  line-height: 240px;
  opacity: 0.1;
}
.icon {
  position: absolute;
  height: 100%;
  width: 38.71%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 61.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.motivation-of-the {
  position: absolute;
  top: 0;
  left: 96px;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.line {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--accent);
  width: 72px;
  height: 2px;
}
.tagline {
  position: relative;
  width: 448px;
  height: 21px;
}
.read-more-1 , .readMore2 ,.readMore3,
.small-tittle {
  position: relative;
  display: inline-block;
  color: var(--wei);
}
.small-tittle {
  font-size: var(--font-size-45xl);
  width: 555px;
}
.read-more-1 ,.readMore2, .readMore3 {
  line-height: 32px;
  width: 632px;
}
.equipment3 {
  position: absolute;
  top: 0;
  left: 0;
}
.iconnavigationarrow-downward1 {
  position: absolute;
  top: 3px;
  left: 103px;
  width: 24px;
  height: 16px;
}
.more {
  position: relative;
  width: 127px;
  height: 21px;
}
.content3 {
  position: absolute;
  height: 75.97%;
  width: 43.23%;
  top: 12.08%;
  right: 46.51%;
  bottom: 11.94%;
  left: 10.26%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  font-size: var(--font-size-lg);
  color: var(--accent);
}
.content2 {
  position: relative;
  width: 1462px;
  height: 720px;
}
.icon1 {
  position: absolute;
  height: 100%;
  width: 38.71%;
  top: 0;
  right: 61.29%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.equipment4 {
  position: absolute;
  top: 5.28%;
  left: 46.51%;
  line-height: 240px;
  opacity: 0.1;
}
.content5 {
  position: absolute;
  height: 79.03%;
  width: 43.23%;
  top: 10.56%;
  right: 0;
  bottom: 10.42%;
  left: 56.77%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  font-size: var(--font-size-lg);
  color: var(--accent);
}
.tagline2 {
  position: relative;
  width: 481px;
  height: 21px;
}
.content7 {
  position: absolute;
  height: 90.69%;
  width: 43.23%;
  top: 4.72%;
  right: 46.51%;
  bottom: 4.58%;
  left: 10.26%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  font-size: var(--font-size-lg);
  color: var(--accent);
}
.l1,
.r1 {
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.r1 {
  position: absolute;
  top: 0;
  left: 0;
}
.l1 {
  left: 32px;
}
.l1,
.logo1,
.p1 {
  position: absolute;
  top: 0;
}
.p1 {
  left: 58px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.logo1 {
  left: 0;
  width: 78px;
  height: 37px;
  font-size: var(--font-size-13xl);
}
.designed-website,
.more-on-the {
  position: absolute;
  left: 0;
  line-height: 32px;
}
.designed-website {
  top: 62px;
  display: inline-block;
  width: 303px;
}
.more-on-the {
  top: 0;
  font-size: var(--font-size-5xl);
  color: var(--accent);
}
.about-rlp,
.contributors-writers {
  position: absolute;
  top: 56px;
  left: 0;
  line-height: 32px;
}
.contributors-writers {
  top: 104px;
}
.contact-us,
.privacy-policy,
.write-for-us {
  position: absolute;
  top: 152px;
  left: 0;
  line-height: 32px;
}
.contact-us,
.privacy-policy {
  top: 200px;
}
.privacy-policy {
  top: 248px;
}
.links,
.links1 {
  position: absolute;
  top: 0;
  left: 896px;
  width: 186px;
  height: 280px;
}
.links1 {
  left: 1301px;
  width: 141px;
  height: 184px;
}
.me {
  position: absolute;
  top: 248px;
  left: 6.06px;
  line-height: 32px;
  opacity: 0.5;
}
.footer {
  position: relative;
  width: 1442px;
  height: 280px;
  font-size: var(--font-size-lg);
}
.content1 {
  position: absolute;
  top: 1440px;
  left: 229px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 200px;
  font-size: var(--font-size-221xl);
}
.mntn {
  position: absolute;
  background-color: var(--bg);
  box-shadow: var(--shadow);
  width: 100%;
  height: 4600px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--wei);
  font-family: var(--font-times-new-roman);
}
